{
    "extends": [
      "@nuxtjs/eslint-config-typescript"
    ],
    "root":true,
    "env":{
       "node":true
    },
    "extends":[
       "plugin:vue/vue3-essential",
       "@vue/standard"
    ],
    "parserOptions":{
       "parser":"babel-eslint"
    },
    "rules":{
       "no-console":"off",
       "no-debugger":"off"
    },
    "overrides":[
       {
          "files":[
             "**/*.spec.js"
          ],
          "env":{ 
             "jest":true
          }
       }
    ]
  }